@media only screen and (max-width: 1140px) {
  footer .black-cat {
    position: absolute;
    left: 75%;
    bottom: 75%;
  }
}

@media only screen and (max-width: 960px) {
  .wrapper {
    max-width: 700px;
    background: url(img/bg1.png) repeat-y;
    background-position: 47% 100px;
    background-size: 78%;
  }

  .menu img {
    width: 100%;
  }

  nav.menu {
    margin-left: 0;
  }

  .col-left > img:nth-child(2) {
    top: -40px;
    left: 70px;
    max-width: 40%;
  }

  .col-right > img:nth-child(1) {
    position: absolute;
    width: 100%;
  }

  .col-right > img:nth-child(2) {
    width: 100%;
  }

  .col-right > img:nth-child(3) {
    width: 30%;
    top: 120px;
    right: 40px;
  }

  .col-centre p {
    font-size: 13px;
  }

  .info p,
  .adress-all span {
    font-size: 12px;
  }

  .calendar-all {
    margin: 2%;
  }

  #toTop {
    right: 10px;
    bottom: 10px;
  }

  #toTop > img {
    width: 30px;
  }
}

@media only screen and (max-width: 820px) {
  .wrapper {
    max-width: 650px;
  }

  nav.menu {
    background-image: none;
    min-width: 0;
    min-height: 0;
    width: 100%;
  }

  ul.head {
    background-color: #622802;
    margin: 0;
  }

  li.hower a {
    padding: 10px 0;
  }
  li.hower a:hover {
    color: #622802;
  }

  section.one {
    margin-top: 40px;
  }
  footer .black-cat {
    position: absolute;
    left: 78%;
    bottom: 85%;
  }

  footer > span:nth-child(1) {
    left: 5%;
  }

  @media only screen and (max-width: 750px) {
    .wrapper {
      max-width: 100%;
      background-size: 95%;
    }

    body > div.logo > img:nth-child(5) {
      display: none;
    }

    .logo {
      max-width: 90%;
      height: auto;
      justify-content: center;
      margin: 10px auto 0;
    }

    .menu img {
      display: none;
    }

    ul.head {
      display: inline-block;
      position: absolute;
      top: 40px;
      left: -150px;
      transition: 0.5s;
      background-color: transparent;
    }

    ul.head li {
      margin-bottom: 5px;
      opacity: 0;
      transition: 0.5s;
    }

    img.icon-mobile {
      display: inline-block;
    }

    .logo > a:nth-child(1) > img,
    .logo > a:nth-child(2) > img {
      max-width: 100%;
    }

    header {
      display: inline-block;
      position: absolute;
      top: 65px;
      left: 10%;
    }

    #checkbox:checked + ul.head {
      display: inline-block;
      top: 40px;
      left: -9px;
      transition: 0.5s;
    }

    #checkbox:checked + ul.head li {
      opacity: 1;
      transition: 0.5s;
    }

    .one {
      margin-bottom: 20px;
    }

    .col-right {
      display: none;
    }

    .col-centre {
      width: 75%;
      margin-top: 30%;
    }

    .one-all {
      flex-direction: column;
      align-items: center;
    }

    .col-left {
      margin-top: 40px;
    }

    .col-centre > img {
      width: initial;
      margin: 10px 35%;
    }

    .head a {
      color: #622802;
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    .wrope {
      flex-direction: column;
      align-items: center;
    }

    .info-all {
      width: 75%;
    }

    .info-all > div:nth-child(1) > div:nth-child(2) > img {
      margin-top: 0;
    }

    .info-all > div:nth-child(2) {
      margin-top: 10px;
    }

    .calendar-all {
      width: 75%;
      margin: 0;
    }

    .calendar-all > img:nth-child(1) {
      margin: 0 0 20px;
    }

    .soutials {
      margin-top: 20px;
    }

    footer {
      height: 100px;
    }

    footer .black-cat {
      left: 70%;
      width: 22%;
      /*bottom: 80%;*/
    }

    .col-left > img:nth-child(1) {
      left: 0;
    }

    .col-left > img:nth-child(2) {
      left: 50%;
      width: 35%;
      top: -20px;
    }
  }

  @media only screen and (max-width: 570px) {
    .col-left > img:nth-child(2) {
      top: -8px;
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    footer > span:nth-child(1),
    footer > span:nth-child(2) {
      position: static;
    }
  }
}
