

* {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: url(img/bg.png);
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  text-transform: uppercase;
}

p,
a,
span {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  background: url(img/bg1.png) repeat-y;
  background-position: 47% 0;
  margin: 0 auto;
  max-width: 960px;
}

.logo {
  width: 456px;
  height: 48px;
  margin: 90px auto 27px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.icon-mobile {
  max-width: 50%;
  display: none;
  cursor: pointer;
}

#checkbox {
  display: none;
}

body > div.logo > img:nth-child(3) {
  position: absolute;
  z-index: -1;
  left: -27%;
}

header {
  position: relative;
}

header > div > img {
  position: absolute;
  left: -123px;
  top: -90px;
}

li.hower {
  border-radius: 3px;
}
li.hower:hover {
  background-color: #5e2800;
  transition-duration: 0.5s;
  padding: 0 3px 0;
}

li.hower a {
  display: block;
  padding: 3px 10px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.menu img {
  position: relative;
  z-index: 2;
}
body > div.logo > img:nth-child(3) {
  width: 100%;
}

ul.head {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 67px;
  z-index: 3;
  max-width: 500px;
  margin: 3px auto 0;
}

.one-all {
  display: flex;
  justify-content: space-between;
}

.col-left,
.col-centre,
.col-right {
  width: 33%;
}

.col-left {
  margin-top: 132px;
  position: relative;
}

.col-left > img:nth-child(1) {
  position: absolute;
  left: -30px;
  width: 100%;
}

.col-left img:last-child {
  position: absolute;
  top: -25px;
  left: 120px;
}

.col-centre img {
  width: inherit;
  position: relative;
  z-index: 1;
  margin: 0 0 30px 30%;
}

.col-centre p {
  margin: 0 5px;
  color: #472d16;
  font-size: 15px;
}

.col-right {
  margin-top: 132px;
  position: relative;
}

.call-right img {
  width: 100%;
}

.col-right img:nth-child(2) {
  position: absolute;
  top: -100px;
  left: 50px;
}

.col-right img:nth-child(3) {
  position: absolute;
  top: 160px;
  right: 50px;
}

section.two .wrope {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.info {
  width: 100%;
}

.info-all {
  width: 33%;
}

.info p {
  font-size: 13px;
  margin-left: 3%;
  color: #472d16;
  line-height: 1.4;
}

.info-all > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  align-items: flex-start;
}

.info-all > div:nth-child(1) > div:nth-child(2) > img {
  margin-top: 8%;
}

.info-all > div:nth-child(2) {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

section.two > div:nth-child(2) {
  margin-top: 15px;
}

section.two > div:nth-child(3) {
  margin-top: 25px;
  line-height: 1.4;
}

.calendar-all {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  margin-bottom: 50px;
}

.calendar {
  background: #fff;
}

/*-----------------КАЛЕНДАРЬ------------------*/

tr.first-row {
  text-transform: uppercase;
  color: #d3d3d3;
  font-size: 12px;
}

tr.first-row th {
  border: none;
  height: 20px;
}

.calendar td {
  border: 1px solid #f7d7bb;
  border-right: none;
  width: 30px;
  height: 30px;
  border-bottom: none;
}

.calendar th:first-child {
  border-left: none;
}

td.month {
  text-transform: uppercase;
  text-align: center;
  border: none;
}

tr.jan-dec > td:nth-child(1) {
  text-align: left;
  padding-left: 5px;
}

tr.jan-dec > td:nth-child(3) {
  text-align: right;
  padding-right: 5px;
}

tr.jan-dec > td:nth-child(1) > img,
tr.jan-dec > td:nth-child(3) > img {
  vertical-align: middle;
}

tr.jan-dec {
  background: url(img/redBG.jpg);
  background-size: 100%;
  height: 34px;
}

table {
  border-collapse: collapse;
}

tr.jan-dec > td:nth-child(1):hover,
tr.jan-dec > td:nth-child(3):hover {
  cursor: pointer;
}
td.td {
  text-align: center;
}

/*--------------------КАЛЕНДАРЬ-------------------*/
.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d5c0b+0,cb6c0a+57,cb6c0a+100 */
  background: #9d5c0b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlkNWMwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2NiNmMwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjZjMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #9d5c0b 0%, #cb6c0a 57%, #cb6c0a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #9d5c0b 0%,
    #cb6c0a 57%,
    #cb6c0a 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9d5c0b 0%, #cb6c0a 57%, #cb6c0a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d5c0b', endColorstr='#cb6c0a', GradientType=0);
  /* IE6-8 */
  color: #fff;
  font-weight: normal;
}

.calendar-all > img:nth-child(1) {
  margin: 35px auto 35px;
}

#prev {
  border-top: none;
  border-left: none;
  border-right: 1px solid #fff;
}
#next {
  border-top: none;
}
.calendar-all > img:nth-child(2) {
  margin: 0 auto 35px;
}

.adress-all {
  width: 33%;
}

.info-all > div:nth-child(1) > div:nth-child(1) img {
  display: block;
  margin: auto;
}

.adres a {
  text-transform: none;
}

.adres span,
.adres a {
  font-size: 12px;
  color: #472d16;
}

.adress-all > div:nth-child(2) {
  margin: 15px 0;
}

.adres span {
  display: block;
}
#toTop {
  z-index: 1;
  position: fixed;
  right: 20px;
  bottom: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
#toTop img {
  width: 50px;
}
footer {
  background: #00050b;
  height: 100px;
  position: relative;
}

footer span {
  color: #d49053;
}

footer > span:nth-child(1) {
  position: absolute;
  left: 25%;
  top: 45px;
}

footer > span:nth-child(2) {
  position: absolute;
  left: 65%;
  top: 45px;
}

footer .black-cat {
  position: absolute;
  left: 70%;
  bottom: 70%;
}

footer .black-cat img {
  width: 100%;
}

.soutials {
  margin-top: 190px;
}

@import 'media.css';